---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Flag Football France">
	<main>
		<h1>Bienvenue dans votre prochain hub du <span class="text-gradient">Flag Football</span></h1>
		<small class="tagline">Bientôt, vous découvrirez une gamme d’outils conçus pour promouvoir le Flag Football, soutenir les clubs, accompagner les joueurs et contribuer au développement de ce sport passionnant.</small>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://olympics.com/fr/sports/flag-football/"
				title="LA28"
				body="Découvrez le prochain sport olympique."
			/>
			<Card
				href="https://www.fffa.org/jouer-au-flag/"
				title="Entrez sur le terrain"
				body="Trouvez un club près de chez vous."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;		
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.tagline {
		display: block;
		text-align: center;
		font-size: 1em;
		margin-bottom: 4em;
		padding: 1.5rem;

	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
